# Environment
.env
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Misc
*.db
*.sqlite3
*.log

# Documents
*.md
*.docx
*.doc
*.txt
*.md
*.csv
*.xls
*.xlsx
*.pptx
*.ppt
*.pps